@font-face {
  font-family: 'sofia_prolight';
  src: url('/fonts/sofiapro-light-webfont.woff2') format('woff2'),
       url('/fonts/sofiapro-light-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'sofia_prolight';
  font-weight: normal;
  font-style: normal;
  color: #5b657e;
  overflow-x: hidden;
  padding: 90px 10px 0px;
}

/* Navegation Bar */

.header {
  background-image:linear-gradient(salmon, steelblue);
  opacity: 90%;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.logomenu img {
  
  width: 100px;
  line-height: 80px;
  padding: 0px 40px;
}
.menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.menuitem {
  font-size: 20px;
  margin: 0px 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.linkitem {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
}
.linkitem:hover {
  background-color: grey;
  transition: 0.5s;
}
.maintitle{
  font-size: 40px;
  text-decoration: solid;
  text-align: center;
}
.subtitles{
  color: black;
  font-size: 25px;
  text-decoration: solid;
  text-align: left;
}
footer{
  margin-bottom: 0px;
  padding: 10px;
  background-image: url(/media/circles.png);
  background-repeat: repeat-x;
  background-size: 65%;
  font-size: 20px;
  text-align: center;
  color: black;

}
.social img{
  width: 20px;
  margin: 5px 5px 0px;
}